In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

#  Предобработка данных

1. Считаем данные из таблиц

In [2]:
train_data = pd.read_csv('/data/notebook_files/train.csv')
test_data = pd.read_csv('/data/notebook_files/test.csv')

2. Проведем первичный анализ: рассмотрим первые 5 строк в таблицах, изучим информацию о таблицах

In [3]:
train_data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [4]:
test_data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Healthcare_2   10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5000 non-null   int64
 1   DistrictId     5000 non-null   int64
 2   Rooms          5000 non-null   float64
 3   Square         5000 non-null   float64
 4   LifeSquare     3959 non-null   float64
 5   KitchenSquare  5000 non-null   float64
 6   Floor          5000 non-null   int64
 7   HouseFloor     5000 non-null   float64
 8   HouseYear      5000 non-null   int64
 9   Ecology_1      5000 non-null   float64
 10  Ecology_2      5000 non-null   object
 11  Ecology_3      5000 non-null   object
 12  Social_1       5000 non-null   int64
 13  Social_2       5000 non-null   int64
 14  Social_3       5000 non-null   int64
 15  Healthcare_1   2623 non-null   float64
 16  Healthcare_2   5000 non-null   int64
 17  Shops_1        5000 non-null   int64
 18  Shops_2        5000 non-null   object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

3. Посмотрим, есть ли в тренировочных данных строки, где данные - это нули и NULL-значения. Удалим, если они есть

In [7]:
drop_index = []
count = 0
for i in train_data.index:
    count1 = train_data.iloc[i].isnull().value_counts()
    count2 = (train_data.iloc[i] == 0).value_counts()
    if True in count1:
        count = count1[True]
    if True in count2:
        count += count2[True]
    if count > 9:
        print(count)
        drop_index.append(i)
    count = 0
print(drop_index)

[]

In [8]:
train_data = train_data.drop(drop_index)

4. Изучив информацию о таблицах, видим, что в некоторых столбцах много NULL данных. Заполним их средними значениями

In [9]:
test_edited = test_data
train_edited = train_data

def nan_filler(data):
    for label, content in data.items():
        if pd.api.types.is_numeric_dtype(content):
            data[label] = content.fillna(content.median())

nan_filler(test_edited)
nan_filler(train_edited)

5. Рассмотрим статистику по данным

In [10]:
train_edited.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,36.266040,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1026.358900,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,76.609981,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,746.662828,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,25.527399,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,830.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,41.427234,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,990.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [11]:
test_edited.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.910000,56.449500,35.485549,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1029.396400,1.31940,4.242800
std,4832.674037,44.179466,0.838594,19.092787,15.915345,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,766.595258,1.47994,4.777365
min,1.000000,0.000000,0.000000,1.378543,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,25.850152,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,810.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,41.769526,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,990.000000,2.00000,6.000000
max,16795.000000,212.000000,17.000000,223.453689,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

6. Заметим, что минимальное значение признака Количество комнат - ноль. Выведем на экран эти строки. В них нулевые значения только в столбце Rooms, поэтому можно считать, что в целом строки имеют значение в обучении

In [12]:
train_edited[train_edited.Rooms == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,900.0,0,0,B,268394.744389
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,900.0,0,1,B,302211.260887
2269,7317,27,0.0,41.790881,32.781260,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,98129.976788
3911,770,28,0.0,49.483501,32.781260,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0.0,81.491446,32.781260,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,900.0,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,900.0,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,900.0,0,1,B,219281.918007

7. Попробуем посчитать количество нулевых значений в зависимости от столбца и заполним их медианным значением

In [13]:
def count_zeros(data):
    zeros_dict = dict()
    for label, content in data.items():
        count = data[data[label] == 0][label].count()
        zeros_dict[label] = count / data.shape[0] * 100
    return zeros_dict

def fill_zeros(data):
    for label, content in data.items():
        if pd.api.types.is_numeric_dtype(content) and label in ['Rooms', 'LifeSquare', 'KitchenSquare', 'Floor', 'HouseFloor', 'HouseYear']:
            data[label] = content.replace(0, content.median())
    for i in data.index:
        if data.iloc[i].Square == 0:
            data.iloc[i].Square = data.iloc[i].LifeSquare + data.iloc[i].KitchenSquare

In [14]:
train_zeros = count_zeros(train_edited)
test_zeros = count_zeros(test_edited)

labels = train_zeros.keys()
x_labels = np.arange(len(labels)-1)

fig, ax = plt.subplots(figsize=(21, 7))
train_ax = ax.bar(x_labels - 0.25, list(train_zeros.values())[:-1], width=0.4, label='train')
test_ax = ax.bar(x_labels + 0.25, test_zeros.values(), width=0.4, label='test')

ax.set_ylim(0, 100)
ax.set_xticks(x_labels, list(labels)[:-1])

ax.bar_label(train_ax)
ax.bar_label(test_ax)

ax.legend()

plt.show()

In [15]:
train_edited = train_edited.drop(['Healthcare_2'], axis=1) if 'Healthcare_2' in train_edited.columns else train_edited
fill_zeros(train_edited)
test_edited = test_edited.drop(['Healthcare_2'], axis=1) if 'Healthcare_2' in test_edited.columns else test_edited
fill_zeros(test_edited)

In [16]:
train_zeros = count_zeros(train_edited)
test_zeros = count_zeros(test_edited)

labels = train_zeros.keys()
x_labels = np.arange(len(labels)-1)

fig, ax = plt.subplots(figsize=(21, 7))
train_ax = ax.bar(x_labels - 0.25, list(train_zeros.values())[:-1], width=0.4, label='train')
test_ax = ax.bar(x_labels + 0.25, test_zeros.values(), width=0.4, label='test')

ax.set_ylim(0, 100)
ax.set_xticks(x_labels, list(labels)[:-1])

ax.bar_label(train_ax)
ax.bar_label(test_ax)

ax.legend()

plt.show()

8. Рассмотрим данные типа object и заменим их на целочисленный тип

In [17]:
train_edited.describe(include='object')

,Ecology_2,Ecology_3,Shops_2
count,10000,10000,10000
unique,2,2,2
top,B,B,B
freq,9903,9725,9175

In [18]:
test_edited.describe(include='object')

,Ecology_2,Ecology_3,Shops_2
count,5000,5000,5000
unique,2,2,2
top,B,B,B
freq,4952,4851,4588

In [19]:
def replace_object_values(data):
    for label, content in data.items():
        if pd.api.types.is_object_dtype(content):
            unique_values = list(content.unique())
            for value in unique_values:
                content = content.replace(value, unique_values.index(value))
            data[label] = content

replace_object_values(train_edited)
replace_object_values(test_edited)

9. Рассчитаем корреляцию признаков и удалим сильно коррелирующие

In [20]:
train_edited.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Shops_1,Shops_2,Price
Id,1.000000,0.012973,-0.006947,-0.010071,0.016718,0.019223,0.001348,-0.012545,0.005004,0.018097,-0.003099,0.005408,-0.000772,-0.002033,-0.009358,-0.002851,-0.008718,-0.003645,0.009880
DistrictId,0.012973,1.000000,0.070776,-0.026613,-0.011847,0.033648,-0.120373,-0.171518,0.013430,0.065294,0.093406,0.027902,0.246463,0.167479,0.136095,0.265185,0.174214,0.021018,0.265100
Rooms,-0.006947,0.070776,1.000000,0.666533,0.121588,0.003195,-0.001314,-0.036850,-0.010652,-0.031880,0.001786,0.005600,0.075052,0.070445,0.012233,0.036011,0.052642,-0.000426,0.551126
Square,-0.010071,-0.026613,0.666533,1.000000,0.166509,0.010994,0.114791,0.104173,-0.009032,-0.064479,-0.029926,-0.022748,-0.070690,-0.043120,0.035241,-0.034853,0.021357,0.049380,0.520075
LifeSquare,0.016718,-0.011847,0.121588,0.166509,1.000000,0.001521,0.017942,0.021550,-0.002087,-0.019765,-0.005733,-0.006513,-0.030938,-0.025559,0.007896,-0.006226,-0.003355,0.001697,0.078331
KitchenSquare,0.019223,0.033648,0.003195,0.010994,0.001521,1.000000,-0.008900,-0.006194,0.000813,-0.005851,-0.001506,0.005466,0.030714,0.026523,-0.017840,0.005619,0.003248,0.023657,0.023729
Floor,0.001348,-0.120373,-0.001314,0.114791,0.017942,-0.008900,1.000000,0.445779,0.000928,-0.016133,-0.049661,-0.025767,-0.044914,-0.016560,-0.002237,-0.106125,0.024264,0.013626,0.128715
HouseFloor,-0.012545,-0.171518,-0.036850,0.104173,0.021550,-0.006194,0.445779,1.000000,-0.001453,-0.019938,-0.067781,-0.018863,-0.068701,-0.034052,-0.017172,-0.117241,0.000926,-0.001707,0.087143
HouseYear,0.005004,0.013430,-0.010652,-0.009032,-0.002087,0.000813,0.000928,-0.001453,1.000000,0.001465,-0.000997,-0.001686,0.003026,0.001970,0.000819,-0.010250,0.003681,-0.002994,0.004305
Ecology_1,0.018097,0.065294,-0.031880,-0.064479,-0.019765,-0.005851,-0.016133,-0.019938,0.001465,1.000000,0.110725,0.223197,0.026464,0.009264,-0.124068,0.004375,-0.076749,-0.079809,-0.058381
Ecology_2,-0.003099,0.093406,0.001786,-0.029926,-0.005733,-0.001506,-0.049661,-0.067781,-0.000997,0.110725,1.000000,-0.016643,0.066017,0.012709,-0.008512,0.046609,-0.051892,0.022242,-0.022379
Ecology_3,0.005408,0.027902,0.005600,-0.022748,-0.006513,0.005466,-0.025767,-0.018863,-0.001686,0.223197,-0.016643,1.000000,0.037777,-0.007394,-0.014595,0.137952,-0.001859,-0.050425,0.052585
Social_1,-0.000772,0.246463,0.075052,-0.070690,-0.030938,0.030714,-0.044914,-0.068701,0.003026,0.026464,0.066017,0.037777,1.000000,0.955988,0.023721,0.075903,0.526272,-0.144644,0.263286
Social_2,-0.002033,0.167479,0.070445,-0.043120,-0.025559,0.026523,-0.016560,-0.034052,0.001970,0.009264,0.012709,-0.007394,0.955988,1.000000,0.073379,0.048138,0.559163,-0.143777,0.239226
Social_3,-0.009358,0.136095,0.012233,0.035241,0.007896,-0.017840,-0.002237,-0.017172,0.000819,-0.124068,-0.008512,-0.014595,0.023721,0.073379,1.000000,0.164168,0.662113,-0.082810,0.074878
Healthcare_1,-0.002851,0.265185,0.036011,-0.034853,-0.006226,0.005619,-0.106125,-0.117241,-0.010250,0.004375,0.046609,0.137952,0.075903,0.048138,0.164168,1.000000,0.074953,-0.018911,0.128059
Shops_1,-0.008718,0.174214,0.052642,0.021357,-0.003355,0.003248,0.024264,0.000926,0.003681,-0.076749,-0.051892,-0.001859,0.526272,0.559163,0.662113,0.074953,1.000000,-0.139065,0.180876
Shops_2,-0.003645,0.021018,-0.000426,0.049380,0.001697,0.023657,0.013626,-0.001707,-0.002994,-0.079809,0.022242,-0.050425,-0.144644,-0.143777,-0.082810,-0.018911,-0.139065,1.000000,-0.070388
Price,0.009880,0.265100,0.551126,0.520075,0.078331,0.023729,0.128715,0.087143,0.004305,-0.058381,-0.022379,0.052585,0.263286,0.239226,0.074878,0.128059,0.180876,-0.070388,1.000000

In [21]:
test_edited.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Shops_1,Shops_2
Id,1.000000,-0.018301,-0.006449,0.003529,0.031798,0.007471,-0.001000,0.004710,-0.002269,-0.002440,-0.001053,-0.004558,-0.025933,-0.021284,0.007603,-0.015769,-0.010774,-0.024510
DistrictId,-0.018301,1.000000,0.048480,-0.037734,-0.035415,0.058469,-0.130514,-0.172175,-0.210673,0.080369,0.086715,0.051160,0.221359,0.145558,0.131288,0.269519,0.157297,0.019741
Rooms,-0.006449,0.048480,1.000000,0.739951,0.517028,0.048677,-0.022912,-0.016454,-0.022472,-0.011814,-0.018900,0.004621,0.069809,0.067837,-0.007153,0.021736,0.036502,-0.020188
Square,0.003529,-0.037734,0.739951,1.000000,0.617746,0.051622,0.112994,0.156745,0.221221,-0.055763,-0.047730,-0.042064,-0.086439,-0.052063,0.003502,-0.053984,-0.010220,0.013676
LifeSquare,0.031798,-0.035415,0.517028,0.617746,1.000000,0.036397,0.061179,0.104199,0.199143,-0.043860,-0.038785,-0.037133,-0.073546,-0.055187,0.019068,-0.038017,-0.002682,-0.005744
KitchenSquare,0.007471,0.058469,0.048677,0.051622,0.036397,1.000000,-0.005082,0.058495,0.068695,0.005025,0.004139,0.017555,0.100130,0.092744,-0.046455,0.018741,0.011005,0.008735
Floor,-0.001000,-0.130514,-0.022912,0.112994,0.061179,-0.005082,1.000000,0.492989,0.280718,-0.027548,-0.024069,-0.039081,-0.041018,-0.005598,0.007108,-0.095512,0.042854,0.000082
HouseFloor,0.004710,-0.172175,-0.016454,0.156745,0.104199,0.058495,0.492989,1.000000,0.424599,-0.048648,-0.054208,-0.032442,-0.078353,-0.039683,-0.039413,-0.131581,-0.007258,-0.018121
HouseYear,-0.002269,-0.210673,-0.022472,0.221221,0.199143,0.068695,0.280718,0.424599,1.000000,-0.074931,-0.061059,-0.067357,-0.057470,0.006975,-0.074811,-0.206200,-0.017997,0.039606
Ecology_1,-0.002440,0.080369,-0.011814,-0.055763,-0.043860,0.005025,-0.027548,-0.048648,-0.074931,1.000000,0.114785,0.193213,0.016759,0.001057,-0.120340,0.019421,-0.075825,-0.077424
Ecology_2,-0.001053,0.086715,-0.018900,-0.047730,-0.038785,0.004139,-0.024069,-0.054208,-0.061059,0.114785,1.000000,-0.017255,0.056533,0.006186,-0.010625,0.038241,-0.053954,0.037631
Ecology_3,-0.004558,0.051160,0.004621,-0.042064,-0.037133,0.017555,-0.039081,-0.032442,-0.067357,0.193213,-0.017255,1.000000,0.043335,-0.003886,-0.009865,0.121026,-0.010632,-0.052519
Social_1,-0.025933,0.221359,0.069809,-0.086439,-0.073546,0.100130,-0.041018,-0.078353,-0.057470,0.016759,0.056533,0.043335,1.000000,0.955823,0.019577,0.054092,0.528970,-0.128775
Social_2,-0.021284,0.145558,0.067837,-0.052063,-0.055187,0.092744,-0.005598,-0.039683,0.006975,0.001057,0.006186,-0.003886,0.955823,1.000000,0.065041,0.028186,0.560142,-0.131595
Social_3,0.007603,0.131288,-0.007153,0.003502,0.019068,-0.046455,0.007108,-0.039413,-0.074811,-0.120340,-0.010625,-0.009865,0.019577,0.065041,1.000000,0.162540,0.648509,-0.085569
Healthcare_1,-0.015769,0.269519,0.021736,-0.053984,-0.038017,0.018741,-0.095512,-0.131581,-0.206200,0.019421,0.038241,0.121026,0.054092,0.028186,0.162540,1.000000,0.087356,-0.019583
Shops_1,-0.010774,0.157297,0.036502,-0.010220,-0.002682,0.011005,0.042854,-0.007258,-0.017997,-0.075825,-0.053954,-0.010632,0.528970,0.560142,0.648509,0.087356,1.000000,-0.130038
Shops_2,-0.024510,0.019741,-0.020188,0.013676,-0.005744,0.008735,0.000082,-0.018121,0.039606,-0.077424,0.037631,-0.052519,-0.128775,-0.131595,-0.085569,-0.019583,-0.130038,1.000000

In [22]:
train_edited = train_edited.drop(['Social_2'], axis=1) if 'Social_2' in train_edited.columns else train_edited
test_edited = test_edited.drop(['Social_2'], axis=1) if 'Social_2' in test_edited.columns else test_edited

10. Разделим все тренировочные данные на тренировочные и валидационные

In [23]:
X = train_edited.drop(['Id', 'Price'], axis=1)
y = train_edited['Price']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)
X_train.shape, y_train.shape

((8000, 16), (8000,))

# Обучение модели

1. Воспользуемся алгоритмом RandomForestRegressor для обучения модели

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
random_forest = RandomForestRegressor(criterion='absolute_error', max_depth=12, random_state=42)
random_forest.fit(X_train, y_train)

RandomForestRegressor(criterion='absolute_error', max_depth=12, random_state=42)

2. Проверим работу модели на валидационных данных

In [26]:
random_forest.score(X_val, y_val.values)

0.747522544832254

In [27]:
X_test = test_edited.drop('Id', axis=1)

3. Предскажем цены на недвижимость для тестовых данных

In [28]:
prediction_df = pd.DataFrame({'Id': test_edited['Id'],
                              'Price': random_forest.predict(X_test)})

In [29]:
prediction_df.to_csv('EBulyga_predictions.csv', index=False)